<div class="container">
  <div class="row">
    <div class="col-4 justify-content-center">
      <h1>User info</h1>
      <%= image_tag @user.get_profile_image(100, 100) %>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">name</th>
            <th scope="col"><%= @user.name %></th>
          </tr>
          <tr>
            <th scope="row">introduction</th>
            <td><%= @user.introduction %></td>
        </tbody>
      </table>
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary col-12" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
