<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Welcome to <i class="fa-solid fa-book"></i><b>Bookers</b> !!
        <h6>In <i class="fa-solid fa-book"></i><b>Bookers</b>,</h6>
      </h1>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <p>you can share and exchange your opinions, inpressions, and emotions</p>
      <p>about various books!</p>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-6">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary col-10" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success col-10" %>
    </div>
  </div>
</div>
